<!DOCTYPE html>
<!--
  THIS CODE WAS CREATED BY Presser
  Discord: Presser
  stop hacking my code!
-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presser</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="static/Images/sheesh.PNG" type="image/x-icon">
  <script src="https://kit.fontawesome.com/ca16268c1d.js" crossorigin="anonymous"></script>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="/static/Images/pfp.gif" alt="L0AD" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="L0AD">Presser</h1>

          <p class="title">Web Developer</p><br><p class="title">Video and Photo Editor</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Contact</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <i class="fa-brands fa-discord"></i>
            </div>

            <div class="contact-info">
              <p class="contact-title">Discord</p>

              <a onclick="navigator.clipboard.writeText('Presser#5454');alert('Discord was copied to clipboard!')" style="cursor: pointer;" class="contact-link">Presser#5454 (click)</a>
            </div>
            

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link active" data-nav-link>About me</button>
          </li>


          <li class="navbar-item">
            <button class="navbar-link" onclick="window.open('https://drive.google.com/file/d/1m_kbx2NPgHtHiVC6ZkelRaKuXlbF5ON-/view?usp=sharing')">Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" onclick="window.open('https://www.linkedin.com/in/vaisnavan/', '_blank')">Linkedln</button>
          </li>

                    <li class="navbar-item">
            <button class="navbar-link" onclick="window.open('https://replit.com/@Vaisnavan', '_blank')">Replit</button>
          </li>

                          <li class="navbar-item">
            <button class="navbar-link" onclick="window.open('https://www.youtube.com/@_Presser/featured', '_blank')">Youtube</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about active" data-page="about me">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            Hello, I'm Vaisnavan Sivakuamr. I'm a 17-year old developer who has been programming since my gr 9 year. I often code in HTML, JavaScript, CSS, Java,and Python. My projects are mostly websites Replit games, and bots. I started programming with Python, creating simple apps and games. From there, I expanded my knowledge of computer science to become the efficient and creative programmer I am today.
          </p>

          <p>
            I plan to expand my knowledge of game development to become a talented computer science major with a focus on creating immersive and innovative ideas.


          </p>
        </section>

       <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What am i doing?</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="https://sabnur.cf/assets/images/icon-design.svg" alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web design</h4>

                <p class="service-item-text">
                  The most modern & qualite design for your website.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="https://sabnur.cf/assets/images/icon-dev.svg" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  Qualite & profesional development of websites.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="https://sabnur.cf/assets/images/icon-app.svg" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Video And Photo Editing</h4>

                <p class="service-item-text">
                  Professional quality delivery
                </p>
              </div>

            </li>

          </ul>

        </section>

      </article>





  <!--
    - custom js link
  -->
  <script src="/static/js/script.js"></script>
  <script src="/static/js/smooth.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>